{% extends 'admin/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Đăng nhập
{% endblock %}

{% block makeup %}
<style>
  .login_form .login_content{
    max-width: 600px;
    padding: unset;
  }
  .login_content h1::before, .login_content h1::after {
    width: 10%;
  }
</style>
{% endblock %}

{% block content %}
      <div class="animate form login_form">
        <section class="login_content">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <table style="margin: 0 auto; width: 50%;data-autosubmit-off">
              <tr>
                <td colspan=2>
                  {% render_field form.username class='form-control' placeholder='Tên đăng nhập' %}
                </td>
              </tr>
              <tr>
                <td colspan=2>
                  {% render_field form.password class='form-control' placeholder='Mật khẩu' %}
                </td>
              </tr>
              {% if form.errors or form.non_field_errors %}
              <tr>
                <td colspan=2>
                     {% for error in form.non_field_errors %}
                     <font color="#d00000">{{error}}</font>
                     {% endfor %}
                </td>
              </tr>
              {% endif %}

              <tr>
                <td>
                  <p style="margin: 20px 0 0 0; cursor: pointer; font-style:" onclick="expand()">Quên mật khẩu?</p>
                </td>
                <td>
                  <input class="btn btn-dark btn-sm" type="submit" value="Đăng nhập">
                </td>
              </tr>
            </table>
            <div id="forgot-password-panel" style="display: none; text-align: left; width:80%; margin: 20px auto;">
              <p>- Để lấy lại mật khẩu, soạn tin nhắn: <b>MK&lt;khoảng cách&gt;&lt;Tên truy nhập&gt;</b> gửi <b>293</b></p>
              <p style="padding-left:20px;">Ví dụ: <b>MK anguyenvan</b> gửi <b>293</b></p>
              <p>- Để đổi mật khẩu, truy cập vào <a href="https://mail.vnpt.vn/ecp">đường dẫn này</a> để thực hiện</p>
            </div>

            <div class="clearfix"></div>

            <div style="position: fixed; left: 0;  bottom: 0; width: 100%; text-align: center;">
              <div
                <p>©2020 All Rights Reserved. RedTeam. Privacy and Terms</p>
              </div>
            </div>
          </form>
        </section>
      </div>
{% endblock %}

{% block script %}
<script>
  function expand(){
    var x = document.getElementById("forgot-password-panel");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
{% endblock %}
